@import 'styles/variables';

.form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;

  input{
    padding: .5em 1em;
  }

  button{
    border-radius: 4px;
    border: none;
    min-height: 42px;
    background: #0077FE;
  }
}
