@import 'styles/variables';

.table{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

    div{
        width: calc(100% / 3);
        border: 1px solid black;
        padding: 20px;
        text-align: center;
    }
}