
.title {
  margin: 30px 0;
  text-align: center;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;

  div {
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    border: 2px solid #cccccc;
    border-radius: 4px;
    text-align: center;

    &:hover {
      background: #EBEBEB;
    }
  }
}

.resetButton {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  button{
    color: white;
    background: #0079FD;
    border: 2px solid #0079FD;
    border-radius: 4px;
    font-size: 18px;
    outline: none;

    &:hover {
      background: #0066D6;
    }
  }
}
